

<div>
    <div >
        <button class="addCategory">Add New</button>
    </div>

    <div class="addCategorys">
        <table>
            <tr>
              <th>Product Category Id</th>
              <th>Product Category Name</th>
              <th>Product Category Name BN</th>
              <th>Sequence NUmber</th>
              <th>Status</th>
              <th>Action</th>
 
            </tr>
            <tr>
              <td>Alfreds Futterkiste</td>
              <td>Maria Anders</td>
              <td>Germany</td>
            </tr>
            <tr>
              <td>Centro comercial Moctezuma</td>
              <td>Francisco Chang</td>
              <td>Mexico</td>
              <td>Centro comercial Moctezuma</td>
              <td>Francisco Chang</td>
              <td>
             <button>Edit</button>
             <button>Delete</button>
              </td>
            </tr>
          </table>
    </div>

</div>