
<div>

  <div>
    <button
      data-bs-toggle="modal"
      data-bs-target="#signupModal"
      class="addCategory"
    >
      Add New
    </button>
  </div>
<!-- this is list div start from hare -->
  <div class="addCategorys">
    <table>
      <tr>
        <th>Product Category Id</th>
        <th>Product Category Name</th>
        <th>Product Category Name BN</th>
        <th>Sequence NUmber</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
      <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>
          <button > <i class="fas fa-edit"></i></button>
          <button><i class="fa fa-eye" aria-hidden="true"></i></button>
          <button> <i class="fa fa-trash" aria-hidden="true"></i></button>
        </td>
      </tr>
    </table>
  </div>
  <!-- this is list div end hare -->
</div>


<!-- this add product category block start from hare -->
<div
  class="modal fade"
  id="signupModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form name="form">
        <div class="modal-header">
          <h5 class="modal-title d-flex align-items-center">
            <i class="bi bi-person-lines-fill fs-3 me-2"></i>Add Product Category
          </h5>
          <button
            type="reset"
            class="btn-close shadow-none"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 ps-0 mb-3">
                <label class="form-label" for="">Product Category Name <span class="requiredSign" >*</span></label>
                <input
                  type="text"
                  class="form-control shadow-none"
                  name=""
                  id=""
                />
              </div>
              <div class="col-md-6 ps-0 mb-3">
                <label class="form-label" for=""> Product Category Name BN <span class="requiredSign" >*</span></label>
                <input
                  type="text"
                  class="form-control shadow-none"
                  name=""
                  id=""
                />
              </div>
              <div class="col-md-6 ps-0 mb-3">
                <label class="form-label" for="">Sequence Number <span class="requiredSign" >*</span></label>
                <input
                  type="email"
                  class="form-control shadow-none"
                  name=""
                  id=""
                />
              </div>

            </div>
          </div>
          <div class="text-center my-1">

            <button type="submit" class="btn btn-dark shadow-none" style="float: left; margin-bottom: 10px;">
              Reset
            </button>

            <button type="submit" class="btn btn-dark shadow-none" style="float: right; margin-bottom: 10px;">
              Submit
            </button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- this add product category block end hare -->